<!DOCTYPE html>
<html lang="en">
	{% load static%}
<head>
    <meta charset="UTF-8">
    <title></title>


		<link rel="canonical" href="Https://preview.keenthemes.com/start" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="{%static 'assets/media/logos/Logo.svg' %}"  />



		<link href="{%static 'assets/plugins/global/plugins.bundle.css '%}" rel="stylesheet" type="text/css" />
		<link href="{%static 'assets/css/style.login.css ' %}" rel="stylesheet " type="text/css" />
</head>
<body>

<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="homepage">
			<h1>Sign in</h1>
			<div class="social-container">

			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>ยินดีตอนรับ</h1>
				<h4>เข้าสู่ระบบระบุตำแหน่งภายในอาคาร</h4>

			</div>
		</div>
	</div>
</div>


</body>
</html>